package components

// PlainGrid provides a simple grid layout (original layout)
templ PlainGridLayout(title string, opts ...BaseHTMLOption) {
	@BaseHTML(title, opts...) {
		<div id="col wrapper" class="m-4 grid grid-cols-1 md:grid-cols-3 gap-4">
			{ children... }
		</div>
	}
}
