package components

var Dual1 = DefineSlot[string]()
var Dual2 = DefineSlot[string]()

templ DualSlot() {
	<h1>
		@Dual1 {
			{ children... }
		}
	</h1>
	<p>
		@Dual2 {
			{ children... }
		}
	</p>
}

// templ TStoryTest() {
// 	@TStory() {
// 		@title.Template() {
// 			<span>testing slot with no params</span>
// 		}
// 		@content.Template() {
// 			<span>slot with no params worked</span>
// 		}
// 	}
// }
